body{
    background-color: rgb(237, 155, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container{
    width: 50rem;
    margin: auto;
    overflow: hidden;
}

.radio_btn{
    width: 0;
    height: 0;
    margin: 0;
}

.slider{
    display: flex;
    flex-direction: column;
    width: 200rem;
    height: 35rem;
    display: flex;
    transition: all 0.8s ease;
}

.images{
    display: flex;
}

.image{
    width: 25%;
}

img{
    width: 100%;
    height: 30rem;
}

.slider_button{
    display: block;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
}

#radio2:checked ~ .slider{
    transform: translateX(-25%);
}

#radio3:checked ~ .slider{
    transform: translateX(-50%);
}

#radio4:checked ~ .slider{
    transform: translateX(-75%);
}

.buttons{
    display: flex;
    width: 200px;
}

.captions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.caption1,.caption2, .caption3, .caption4{
    width: 25%;
} 


/* #radio2:checked ~ .captions h2:nth-child(1){
    visibility: hidden;
    width: 0;
    height: 0;
}

#radio2:checked ~ .captions h2:nth-child(2){
    visibility: visible;
}

#radio3:checked ~ .captions h2:nth-child(2){
    visibility: hidden;
    width: 0;
    height: 0;
}

#radio3:checked ~ .captions h2:nth-child(1){
    visibility: hidden;
    width: 0;
    height: 0;
}

#radio3:checked ~ .captions h2:nth-child(3){
    visibility: visible;
}

#radio4:checked ~ .captions h2:nth-child(-n+3){
    visibility: hidden;
    width: 0;
    height: 0;
}

#radio4:checked ~ .captions h2:nth-child(4){
    visibility: visible;
} */
